<template>
  <div class="left-menu">
    <div class="left-menu-storage">
      <div class="left-menu-storage__name">ИП Иванов Иван</div>
      <div class="left-menu-storage__text">Магазин “Название”</div>
    </div>

    <span class="p-input-icon-left left-menu-search">
      <i class="pi pi-search" />
      <InputText v-model="value1" placeholder="Поиск" />
    </span>

    <ul class="left-menu-list">
      <li v-for="(item, key) in $router.options.routes[1].children" :key="key">
        <template v-if="!item.meta.isHide">
          <router-link
            :to="item.path"
            tag="a"
            class="left-menu__link"
            v-if="!item.children"
            exact
          >
            <i
              class="pi mr-2"
              :class="item.meta.icon ? item.meta.icon : 'pi-bars'"
            ></i>
            <span class="font-medium">{{ item.meta.pageTitle }}</span>
          </router-link>

          <div
            :class="[
              'left-menu__link',
              {
                hasChild: item.children.length,
              },
            ]"
            v-else
            @click="openChild($event)"
          >
            <i
              class="pi mr-2"
              :class="item.meta.icon ? item.meta.icon : 'pi-bars'"
            ></i>
            <span class="font-medium">{{ item.meta.pageTitle }}</span>
            <i class="pi pi-chevron-down ml-auto"></i>
          </div>

          <ul
            class="list-none p-3 m-0"
            v-if="item.children"
            :ref="`parent-${key}`"
          >
            <li v-for="(elem, index) in item.children" :key="index">
              <router-link
                :to="elem.path"
                tag="a"
                class="left-menu__link"
                exact
              >
                <span class="font-medium">{{ elem.meta.pageTitle }}</span>
              </router-link>
            </li>
          </ul>
        </template>
      </li>
    </ul>

    <img src="@/assets/images/logo.svg" alt="" srcset="" />
  </div>
</template>

<script>
import _ from "lodash";
export default {
  props: {
    visibleLeft: {
      default: true,
      type: Boolean,
    },
  },
  data() {
    return {
      value1: "",
      isDrop: true,
    };
  },
  watch: {
    $route: {
      handler: function () {
        this.$emit("hide");
      },
      deep: true,
      immediate: true,
    },
  },
  methods: {
    openChild($event) {
      _.each($event.target.nextSibling.classList, (item) => {
        if (item == "hidden") {
          $event.target.nextSibling.classList.remove("hidden");
          // this.isDrop = true;
        } else {
          $event.target.nextSibling.classList.add("hidden");
          // this.isDrop = false;
        }
      });
    },
  },
};
</script>


<style lang="scss" scoped>
.left-menu {
  flex-direction: column;
  display: flex;
  height: 100%;
  border-right: 1px solid #efefef;
  background: #ffffff;
  padding: 14px;
  width: 235px;
  min-height: 100vh;
  @media (max-width: 768px) {
    display: none;
  }
  &-storage {
    margin-bottom: 46px;
    text-align: left;
    &__name {
      color: #09090a;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
    }
    &__text {
      color: #1f1f22;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }
  }
  &-search {
    margin-bottom: 36px;
    input {
      background: #f5f5f5;
      border-radius: 16px;

      color: #2a2a2e;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;

      padding: 11px 13px;
      padding-left: 30px;
      width: 100%;
      &::placeholder {
        color: #2a2a2e;
      }
    }
  }
  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    ul {
      background: linear-gradient(180deg, #2a8543 0%, #165e2a 100%);
      border-radius: 0px 0 8px 8px;
      li {
        a {
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          color: #fff;
          &.router-link-active {
            font-weight: 700;
            background: transparent;
          }
          &:hover {
            background: transparent;
          }
        }
      }
    }
  }
  &__link {
    display: flex;
    transition-duration: 150ms;
    transition-property: background-color, border-color, color;
    cursor: pointer;
    border-radius: 8px;
    padding: 14px;
    align-items: center;
    color: #484848;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    &.isDrop {
      background: linear-gradient(180deg, #2a8543 0%, #165e2a 100%);
    }
    &.router-link-active {
      background: linear-gradient(180deg, #2a8543 0%, #165e2a 100%);
      color: #fff;
      svg {
        fill: #fff;
        stroke: #fff;
      }
    }

    &:hover {
      background-color: var(--surface-100);
    }
  }
}
</style>