<template>
  <div class="mobile-menu">
    <router-link to="/dashboard/main" exact>
      <div class="mobile-menu-item">
        <svg class="svg" viewBox="0 0 24 24" style="width: 24px; height: 24px">
          <use xlink:href="@/assets/images/sprite.svg#mobileHome" />
        </svg>
      </div>
    </router-link>
    <router-link to="/dashboard/analitic" exact>
      <div class="mobile-menu-item">
        <svg class="svg" viewBox="0 0 24 24" style="width: 24px; height: 24px">
          <use xlink:href="@/assets/images/sprite.svg#mobileAnalitic" />
        </svg>
      </div>
    </router-link>
    <router-link to="/dashboard/categories" exact>
      <div class="mobile-menu-item">
        <svg class="svg" viewBox="0 0 24 24" style="width: 24px; height: 24px">
          <use xlink:href="@/assets/images/sprite.svg#mobileChart" />
        </svg>
      </div>
    </router-link>
    <router-link to="/dashboard/orders" exact>
      <div class="mobile-menu-item">
        <svg class="svg" viewBox="0 0 24 24" style="width: 24px; height: 24px">
          <use xlink:href="@/assets/images/sprite.svg#mobilePackage" />
        </svg>
      </div>
    </router-link>
    <div class="mobile-menu-item">
      <svg class="svg" viewBox="0 0 24 24" style="width: 24px; height: 24px">
        <use xlink:href="@/assets/images/sprite.svg#mobileUser" />
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
.mobile-menu {
  width: 100%;
  height: 44px;
  background: #000;

  position: sticky;
  bottom: 0;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 27px;

  @media (max-width: 768px) {
    display: flex;
  }

  &-item {
    cursor: pointer;
  }
}
</style>