<template>
  <div class="page-title">
    <div class="page-title-inner">
      <span class="page-title__text">
        {{ $route.meta.pageTitle }}
      </span>
    </div>
    <div>
      <slot name="btn" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.page-title {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
  margin-bottom: 25px;
  &-inner {
    display: flex;
    align-items: center;
  }
  &__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #484848;
  }
}
</style>