@media only screen and (max-width: 768px) {

    .vertical-tap-panel {
        display: block;


        .p-tabview-nav {
            flex-direction: row;
        }

        .p-tabview-nav-link {
            margin: 0px 0px -2px 0px;
        }
    }

}