/*
* Libraries
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "~primeflex/primeflex.css";
@import "./variable";
@import "~primevue/resources/primevue.min.css";
@import '~primeicons/primeicons.css';

@import '~primevue/resources/themes/lara-light-blue/theme.css';
// @import "./kanban";

* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 12px;
    /* ширина всей полосы прокрутки */
}

*::-webkit-scrollbar-track {
    background: #fff;
    border: 1px solid #c1c1c1;
    /* цвет зоны отслеживания */
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #2A8543 0%, #165E2A 100%);
    /* цвет бегунка */
    border-radius: 20px;
    /* округлось бегунка */
    border: 3px solid #fff;
    /* отступ вокруг бегунка */
}

body,
html,
#app {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #09090A;
    background: #EFEFEF;
}

small.p-error {
    margin-top: -.9rem;
    display: block;
}

label {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: block;
    color: #484848;
}


.form-group {
    margin-bottom: 16px;
    width: 100%;

    input {
        width: 100%;
    }
}

.p-inputtext {
    font-size: 0.875rem;
    padding: 0.65625rem 0.65625rem;
}

.main-wrapper {
    width: calc(100% - 235px);
    padding-bottom: 64px;
}

.expansion-container {
    max-width: calc(100vw - 50px);
}

.p-fluid .p-dropdown {
    max-width: 300px;
}


.vertical-tap-panel {
    display: flex;


    .p-tabview-nav {
        flex-direction: column;
    }

    .p-tabview-nav-link {
        margin: 0;
    }
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    // margin-left: -125px;
    text-align: center;
    padding: 1rem;
    position: fixed;
    z-index: 10000;
    right: 50px;
    top: 30px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    border-radius: 6px;
    background: #ffe7e6;
    border-left: 6px solid #ff5757;
    color: #ff5757;
}

.waiter-bonus__image {
    max-width: 50px;
    max-height: 50px;
    display: block;

    img {
        width: 100%;
    }
}

.page-section {
    border-radius: var(--border-radius);
    border-style: dashed;
    border-width: 2px;
    margin-bottom: 2rem;
    padding: 2rem;
    border-color: var(--surface-border);
    background-color: var(--surface-section);
}

.messagesModal {
    width: 70%;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

.history-modal {
    max-width: 800px;
    min-width: 350px;
}

// RE-style
// table
.p-datatable {
    color: #515050;
    font-weight: 300;
    font-size: 14px;

    .p-datatable-thead {
        &>tr>th {
            background: transparent !important;
            border-color: #A3A3A3 !important;
        }

        .p-column-header-content {
            .p-column-title {
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                color: #515050;
            }
        }
    }

    .p-datatable-tbody {
        &>tr>td {
            padding: 5px 1rem !important;
            border: none !important;
        }
    }
}

.p-dropdown {
    border: 1px solid #A3A3A3 !important;
    border-radius: 6px !important;
}

.p-dropdown-label {
    &.p-inputtext {
        padding: 6px 10px;
        color: #515050;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;

    }
}

// B U T T O N
.p-button.p-component[severity="warning"][size="small"] {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background: linear-gradient(180deg, #e8de00 0%, #e79800 100%);
    border-radius: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;

    &:hover {
        background: linear-gradient(180deg, #e79800 0%, #e8de00 100%);

    }
}

.p-button.p-component[severity="success"][outlined] {
    color: #000;
    border: 2px solid #2A8543;
    background: transparent;

    &:hover {
        border: 2px solid #165E2A;
        background: transparent;

    }
}

.p-button.p-component[severity="success"] {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background: linear-gradient(180deg, #2A8543 0%, #165E2A 100%);
    border-radius: 8px;
    padding: 15px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;

    &:hover {

        background: linear-gradient(180deg, #165E2A 0%, #2A8543 100%);

    }
}

.p-button.p-component[severity="secondary"] {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background: linear-gradient(180deg, #A5A5A5 0%, #7D7D7D 100%);
    border-radius: 8px;
    padding: 15px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;

    &:hover {

        background: linear-gradient(180deg, #7D7D7D 0%, #A5A5A5 100%);

    }
}

.p-tabview {
    border-top: none;
    font-family: 'Montserrat';

    .p-tabview-nav {
        background: transparent !important;

        li {
            &.p-highlight {
                a {
                    background: linear-gradient(180deg, #2A8543 0%, #165E2A 100%) !important;
                    color: #fff !important;
                    font-weight: 700;
                    // padding: 6px 26px !important;
                }
            }

            .p-tabview-nav-link {
                font-size: 14px;
                line-height: 17px;
                font-family: 'Montserrat';

                border: 0.5px solid rgba($color: #000000, $alpha: 0.25);
                border-radius: 8px 8px 0px 0px !important;
                padding: 6px 25px !important;
            }
        }
    }

    .p-tabview-panels {
        padding: 0;
        border: 0.5px solid rgba($color: #000000, $alpha: 0.25);
        border-radius: 0px 0px 8px 8px;
    }
}

.p-datatable-thead {
    border-bottom: 1px solid #A3A3A3;
    padding-bottom: 16px;

    th {
        padding: 0px 12px;
        padding-top: 6px;
        border: none;

        &:not(:last-child) {
            border-right: 1px solid #A3A3A3;
        }
    }
}

.p-filter-column {
    padding: 6px 12px;
}

.p-column-filter-element {
    .p-column-filter {
        padding: 3px 23px;
        background: #FFFFFF;
        border: 1px solid #E2E2E2;
        border-radius: 18px;
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
        color: #989898;
        height: 18px;
        width: 140px !important;

    }

    padding-bottom: 11px
}

.p-divider.p-divider-horizontal {
    color: #515050;
}

.p-divider.p-divider-horizontal:before {
    border-top: 1px solid #515050 !important
}

.status-field {
    border: 1px solid #E2E2E2;
    border-radius: 18px;
    overflow: hidden;

    .p-inputtext {
        padding: 6px 15px;
        border: none;
    }

    .p-inputgroup-addon {
        padding: 0;
        border: none;
        background: transparent;
    }

    .p-button.p-component {
        padding: 6px 15px;

        font-size: 13px;
        line-height: 16px;
        border-radius: 18px;
    }
}

.p-frozen-column,
.p-datatable .p-datatable-thead>tr>th.p-filter-column.p-frozen-column {
    background: linear-gradient(267.65deg, #EBEBEB 10.96%, rgba(235, 235, 235, 0) 96.67%) !important;
}

.p-selection-column {
    // width: 22px;
    flex-grow: unset !important;
}

.card {
    overflow: auto;
    background: #fff
}

.pageInfo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    &-Left {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;

        color: #484848;

        span {
            background: linear-gradient(180deg, #2A8543 0%, #165E2A 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

        @media (max-width: 768px) {
            margin-bottom: 18px;
        }
    }

    &-Right {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 11px;

        &-period {
            display: flex;
            align-items: center;
            // justify-content: space-between;
            gap: 9px;

            &__title {
                font-weight: 300;
                font-size: 16px;
                line-height: 20px;
                color: #515050;

                // @media (max-width: 768px) {
                //     display: none;
                // }
            }

            .p-dropdown {}

            .p-button {
                @media (max-width: 768px) {
                    display: none !important;
                }
            }
        }
    }

    .p-dropdown {
        border: 1px solid #A3A3A3 !important;
        border-radius: 8px !important;
        width: 120px !important;
    }

    .btn-small {
        width: 190px;
    }
}

.pageSubInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;
    margin-bottom: 24px;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    &-Left {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        color: #000;

        @media (max-width: 768px) {
            display: none;
        }

    }

    &-Right {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 11px;

        &-period {
            display: flex;
            align-items: center;
            gap: 9px;

            &__title {
                font-weight: 300;
                font-size: 16px;
                line-height: 20px;
                color: #515050;

                @media (max-width: 768px) {
                    display: none;
                }
            }
        }

        .p-button {
            @media (max-width: 768px) {
                display: none !important;
            }
        }
    }

    .p-dropdown {
        border: 1px solid #A3A3A3 !important;
        border-radius: 8px !important;
        width: 120px !important;
    }

    .btn-small {
        width: 190px;
    }
}

.pageFilter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;
    margin-bottom: 24px;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    &-Left {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        color: #000;

        @media (max-width: 768px) {
            display: none;
        }

        &-period {
            display: flex;
            align-items: center;
            gap: 11px;
        }
    }

    &-Right {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 11px;

        &-period {
            display: flex;
            align-items: center;
            gap: 9px;

            &__title {
                font-weight: 300;
                font-size: 16px;
                line-height: 20px;
                color: #515050;

                @media (max-width: 768px) {
                    display: none;
                }
            }
        }

        .p-button {
            @media (max-width: 768px) {
                display: none !important;
            }
        }
    }

    .p-dropdown {
        border: 1px solid #A3A3A3 !important;
        border-radius: 8px !important;
        width: 120px !important;
    }

    .btn-small {
        width: 190px;
    }
}


.mobile-btn {
    display: none;

    @media (max-width: 768px) {
        display: flex !important;

        gap: 11px;
        margin-bottom: 42px;
    }
}



.btn-small {
    font-size: 16px !important;
    line-height: 20px !important;
    padding: 8px 21px !important;
    height: 36px;
}

.table-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column-reverse;
    }

    &-btn {
        display: flex;
        align-items: center;
        gap: 11px;
        margin-top: 24px;

        @media (max-width: 768px) {
            flex-direction: column-reverse;
        }
    }

    &-pagination {
        display: flex;
        align-items: center;

        background: #FFFFFF;
        border: 1px solid #E2E2E2;
        border-radius: 18px;
        padding: 5px 8px;

        @media (max-width: 768px) {
            margin-top: 24px
        }

        p {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #515050;
            margin: 0 13px;
        }

        .p-button {
            border-radius: 100% !important;
            width: 24px !important;
            height: 24px !important;
            padding: 3px !important;
        }
    }
}

.statistic-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 17px;
    margin-bottom: 26px;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.products-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 17px;
    margin-bottom: 26px;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.book {
    button {
        .p-button-label {
            font-weight: 400 !important;
        }

        font-size: 14px !important;
        line-height: 17px !important;
    }
}

@import "./media";