<template>
  <div
    :class="[
      'category-item',
      {
        isOpen: isOpen,
      },
    ]"
  >
    <div class="category-item-top" @click="isOpen = !isOpen">
      <div class="category-item-left">
        <div
          :class="[
            'category-item__img-holder',
            {
              isGray: item.isGray,
            },
          ]"
        >
          <!-- <img
            src="@/assets/images/premium-svgrepo-com.jpeg"
            :alt="item.title"
          /> -->
        </div>
        <div class="category-item__title">{{ item.title }}</div>
      </div>
      <svg class="svg" viewbox="0 0 14 12" style="width: 14px; height: 12px">
        <use xlink:href="@/assets/images/sprite.svg#triangleDown" />
      </svg>
    </div>
    <div
      :class="[
        'category-item-body',
        {
          isOpen: isOpen,
        },
      ]"
    >
      <router-link to="/dashboard/categories" class="category-item-body__link">
        Открыть раздел {{ item.title }}
      </router-link>
      <div
        class="category-item-body-content"
        v-for="(elem, key) in item.children"
        :key="key"
        @click="isOpenList = elem"
      >
        <div class="category-item-body-content__title">
          {{ elem.title }}
          <svg
            class="svg"
            viewbox="0 0 14 12"
            style="width: 14px; height: 12px"
          >
            <use xlink:href="@/assets/images/sprite.svg#triangleDown" />
          </svg>
        </div>
        <div
          :class="[
            'category-item-body-list',
            {
              isOpenList: isOpenList === elem,
            },
          ]"
        >
          <div v-for="(child, idx) in elem.children" :key="idx">
            {{ child.title }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      isOpen: false,
      isOpenList: null,
    };
  },
};
</script>

<style lang="scss" scoped>
.category-item {
  border-radius: 8px;
  background: #ffffff;

  width: 33.3%;
  &.isOpen {
    .category-item-top {
      border-bottom: none;
      background: linear-gradient(180deg, #ffffff 0%, #eeeeee 100%);
    }
  }
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: 0.5px solid rgba($color: #000000, $alpha: 0.25);
    padding-right: 19px;
  }
  &-left {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__img-holder {
    width: 53px;
    height: 53px;
    background: linear-gradient(180deg, #2a8543 0%, #165e2a 100%);
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.isGray {
      background: linear-gradient(180deg, #737373 0%, #535353 100%);
    }
  }
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #515050;
  }

  &-body {
    border: 0.5px solid rgba($color: #000000, $alpha: 0.25);
    border-radius: 0 0 13px;
    border-top: none;
    padding: 20px;
    display: none;
    &.isOpen {
      display: block;
    }
    &__link {
      color: #00892f;
      text-decoration-line: underline;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 18px;
      display: inline-block;
    }
    &-content {
      &__title {
        color: #484848;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 19px;
        gap: 10px;
      }
    }
    &-list {
      padding-top: 11px;
      padding-left: 24px;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 19px;
      display: none;
      &.isOpenList {
        display: block;
      }
      div {
        cursor: pointer;
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }
}
</style>