<template>
  <div class="product-card">
    <div class="product-card-left">
      <div class="product-card__type">Заказ №</div>
      <div class="product-card__price">123</div>

      <div class="product-card-data__name">Комментарий:</div>
      <div class="product-card-data__value">
        футболки дополнительные к заказу номер 123412412
      </div>
      <br />

      <div class="product-card-data">
        <div class="product-card-data-col">
          <div class="product-card-data__name">Дата заказа:</div>
          <div class="product-card-data__value">15.06.2023</div>
        </div>
        <div class="product-card-data-col">
          <div class="product-card-data__name">Дата доставки:</div>
          <div class="product-card-data__value">15.06.2023</div>
        </div>
      </div>
      <div class="product-card-data">
        <div class="product-card-data-col">
          <div class="product-card-data__name">Затрат по заказу:</div>
          <div class="product-card-data__value">12371321 руб.</div>
        </div>
        <div class="product-card-data-col">
          <div class="product-card-data__name">Ожидаемая прибыль:</div>
          <div class="product-card-data__value">12371321 руб.</div>
        </div>
      </div>
    </div>

    <div :class="['product-card-right']">
      <div class="product-card-right-holder"></div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.product-card {
  background: #ffffff;
  box-shadow: 0px 0px 1px #000000;
  border-radius: 13px;
  padding: 18px 21px;
  color: #515050;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 25px;
  position: relative;
  margin-bottom: 10px;
  &__type {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
  }
  &__price {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 17px;
  }
  &-data {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
    color: #515050;
    &__name {
      font-weight: 700;
      font-size: 12px;
      line-height: 17px;
    }
    &__value {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
    }
  }
  &-right {
    width: 140px;
    &-holder {
      box-shadow: 0px 0px 1px #000000;

      border-radius: 13px;
      padding: 5px;
      height: 190px;
    }
  }
}
</style>