<template>
  <div :class="['status-item', { isChecked }]">
    <svg
      class="svg"
      viewBox="0 0 20 19"
      style="width: 20px; height: 19px"
      v-if="isChecked"
    >
      <use xlink:href="@/assets/images/sprite.svg#checkedList" />
    </svg>
    <div class="status-item-info">
      <div class="status-item__date">09:00</div>
      <div class="status-item__name">
        В заказ №12345 добавлен товар “Название товара” в количестве 145 штук
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => {},
    },
    isChecked: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss" scoped>
.status-item {
  margin-bottom: 16px;
  &.isChecked {
    display: flex;
    align-items: center;
    gap: 21px;
    padding: 9px 21px;
    background: #f0f0f0;
    border-radius: 8px;
  }
  &__date {
    color: #515050;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
  &__name {
    color: #515050;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
  }
}
</style>