<template>
  <PageTitle />
  <div class="login-form">
    <div class="form-group">
      <label for="email">Электронная почта</label>
      <InputText id="email" v-model="value" aria-describedby="email-help" />
    </div>
    <div class="form-group">
      <label for="pass">Пароль</label>
      <InputText id="pass" v-model="value" aria-describedby="pass-help" />
    </div>
    <div class="login-form-btn">
      <Button label="Войти в систему" severity="success" />
      <Button label="Восстановить пароль" severity="success" outlined />
    </div>
  </div>
</template>

<script>
import DashboardMixin from "../mixins/Dashboard.mixin";
import { defineAsyncComponent } from "vue";

export default {
  data() {
    return {
      value: "",
    };
  },
  watch: {},
  components: {},
  mixins: [DashboardMixin],
  methods: {},
  mounted() {},
};
</script>

<style lang="scss" scoped>
.login-form {
  width: 600px;
  &-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 27px;
    button {
      // width: calc(100% - 27px);
    }
  }
}
</style>
