<template>
  <PageTitle />
  <div class="kanban">
    <div class="kanban-body">
      <div class="kanban-col">
        <div class="kanban-header">
          <div class="kanban-col">
            <div class="kanban-col__title">Новые заказы</div>
          </div>
        </div>
        <Button label="Добавить новый заказ" severity="warning" size="small" />

        <ProductCard
          v-for="(item, key) in products"
          :key="key"
          :item="item"
          :isKanbanCard="true"
        />
      </div>
      <div class="kanban-col">
        <div class="kanban-header">
          <div class="kanban-col">
            <div class="kanban-col__title">Передан в ОС</div>
          </div>
        </div>
        <ProductCard
          v-for="(item, key) in products"
          :key="key"
          :item="item"
          :isKanbanCard="true"
        />
      </div>
      <div class="kanban-col">
        <div class="kanban-header">
          <div class="kanban-col">
            <div class="kanban-col__title">Оплата</div>
          </div>
        </div>
        <ProductCard
          v-for="(item, key) in products"
          :key="key"
          :item="item"
          :isKanbanCard="true"
        />
      </div>
    </div>
  </div>
</template>

<script>
import DashboardMixin from "../mixins/Dashboard.mixin";
import { defineAsyncComponent } from "vue";

export default {
  data() {
    return {
      products: [
        {
          name: "Футболка",
          type: "Продаж",
          price: "6330 шт.",
          data: [
            {
              title: "Оборот",
              value: "12312руб.",
            },
            {
              title: "Отзывы",
              value: "421шт",
            },
          ],
          isChoosen: true,
          footer: "Категория: Мужчинам / Одежда для дома / Футболка",
        },
        {
          name: "Футболка",
          type: "Оборот",
          price: "8652 руб.",
          data: [
            {
              title: "Оборот",
              value: "23шт.",
            },
            {
              title: "Отзывы",
              value: "421шт",
            },
          ],
          isChoosen: false,
          footer: "Категория: Мужчинам / Одежда для дома / Футболка",
        },
      ],
    };
  },
  watch: {},
  components: {
    ProductCard: defineAsyncComponent(() =>
      import("@/components/card/Product.vue")
    ),
  },
  mixins: [],
  methods: {},
  mounted() {},
};
</script>

<style lang="scss" scoped>
.kanban {
  overflow: auto;
  &-header {
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
  }
  &-col {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media (max-width: 768px) {
      width: 100%;
    }

    &__title {
      color: #989898;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }
  }
  &-body {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    @media (max-width: 768px) {
      padding-bottom: 15px;
    }
  }
}
</style>
