<template>
  <PageTitle />
  <div class="order-row">
    <div class="order-col">
      <ProductCard />
      <Button
        label="Добавить новый заказ"
        class="addOrder"
        severity="warning"
        size="small"
      />
      <TabView class="tabTable">
        <TabPanel header="Состав заказа">
          <DataTable
            :value="productsTable"
            v-model:filters="filters"
            filterDisplay="row"
            scrollable
          >
            <Column
              v-for="(item, key) in columns"
              :key="key"
              :field="item.field"
              :header="item.header"
              :showFilterMenu="false"
              :filterMenuStyle="{ width: '14rem' }"
            >
              <template #filter="{ filterModel, filterCallback }">
                <InputText
                  v-model="filterModel.value"
                  type="text"
                  @input="filterCallback()"
                  class="p-column-filter"
                  placeholder="Search by name"
                />
              </template>
            </Column>
          </DataTable>
        </TabPanel>
        <TabPanel header="Сумма заказа"> Сумма заказа </TabPanel>
        <TabPanel header="Расчет прибыли"> Расчет прибыли </TabPanel>
      </TabView>
    </div>
    <div class="order-col">
      <div class="status-card">
        <Divider align="center" type="solid">
          <b>Среда, 15 мая 2022</b>
        </Divider>
        <StatusItem />
        <StatusItem :isChecked="true" />

        <div class="p-inputgroup flex-1 status-field">
          <InputNumber placeholder="Price" />
          <span class="p-inputgroup-addon">
            <Button label="Отправить" severity="success" size="small" />
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import OrderMixin from "../mixins/Order.mixin";
import { defineAsyncComponent } from "vue";
import { FilterMatchMode } from "primevue/api";

export default {
  data() {
    return {
      filters: {
        code: { value: null, matchMode: FilterMatchMode.CONTAINS },
      },
      productsTable: [
        {
          code: 12,
          name: "123",
          category: "123",
          quantity: "123",
        },
        {
          code: 12,
          name: "123",
          category: "123",
          quantity: "123",
        },
        {
          code: 12,
          name: "123",
          category: "123",
          quantity: "123",
        },
      ],
    };
  },
  watch: {},
  components: {
    ProductCard: defineAsyncComponent(() =>
      import("../components/view/ProductCard.vue")
    ),
    StatusItem: defineAsyncComponent(() =>
      import("../components/view/StatusItem.vue")
    ),
  },
  mixins: [OrderMixin],
  methods: {},
  mounted() {},
};
</script>

<style lang="scss" scoped>
.order-row {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  @media (max-width: 768px) {
    flex-direction: column;
  }

  .order-col {
    width: 100%;
  }
  & > .order-col {
    .addOrder {
      margin-bottom: 13px;
      width: 100%;
    }
  }
}

.status-card {
  background: #ffffff;
  box-shadow: 0px 0px 1px #000000;
  border-radius: 13px;
  padding: 18px 21px;
}
</style>
