<template>
  <div class="pageInfo">
    <div class="pageInfo-Left">Зоотовары / Игрушки <span>за 30 дней</span></div>
  </div>
  <div class="pageSubInfo">
    <div class="pageSubInfo-Left">
      https://www.wildberries.ru/catalog/tovary-dlya-zhivotnyh/igrushki
    </div>
  </div>

  <div class="card">
    <DataTable
      :value="productsTable"
      v-model:filters="filters"
      v-model:selection="selectedProduct"
      dataKey="id"
      filterDisplay="row"
      scrollable
    >
      <Column
        v-for="(item, key) in columns"
        :key="key"
        :field="item.field"
        :header="item.header"
        :showFilterMenu="false"
        :filterMenuStyle="{ width: '14rem' }"
        :frozen="item.frozen"
      >
        <template #filter="{ filterModel, filterCallback }">
          <InputText
            v-model="filterModel.value"
            type="text"
            @input="filterCallback()"
            class="p-column-filter"
            placeholder="Search by name"
          />
        </template>
      </Column>
    </DataTable>
  </div>
  <div class="table-footer">
    <div class="table-footer-btn">
      <Button
        label="Экспорт выделенного"
        severity="success"
        class="btn-small"
      />
    </div>
    <div class="table-footer-pagination">
      <Button icon="pi pi-arrow-left" severity="success" class="btn-small" />
      <p>Страница 1 из 259</p>
      <Button icon="pi pi-arrow-right" severity="success" class="btn-small" />
    </div>
  </div>
</template>

<script>
import { defineAsyncComponent } from "vue";
import ProductsMixin from "../mixins/Products.mixin";
import { FilterMatchMode } from "primevue/api";

export default {
  data() {
    return {
      filters: {
        code: { value: null, matchMode: FilterMatchMode.CONTAINS },
      },
      selectedProduct: [],
      productsTable: [
        {
          code: 12,
          name: "123",
          category: "123",
          quantity: "123",
        },
        {
          code: 12,
          name: "123",
          category: "123",
          quantity: "123",
        },
        {
          code: 12,
          name: "123",
          category: "123",
          quantity: "123",
        },
      ],
      selectedCity: null,
      cities: [
        { name: "New York", code: "NY" },
        { name: "Rome", code: "RM" },
        { name: "London", code: "LDN" },
        { name: "Istanbul", code: "IST" },
        { name: "Paris", code: "PRS" },
      ],
    };
  },
  watch: {},
  components: {
    CategoryItem: defineAsyncComponent(() => import("../components/Item.vue")),
  },
  mixins: [ProductsMixin],
  methods: {},
  mounted() {},
};
</script>

<style lang="scss" scoped>
.categories-row {
}
</style>
