<template>
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-5">
    <div class="text-center mb-5">
      <!-- <img
        src="@/assets/images/logo.svg"
        alt="Image"
        height="50"
        class="mb-3"
      /> -->
    </div>

    <form @submit.prevent="handleSubmit(!v$.$invalid)" class="p-fluid">
      <label for="email1" class="block text-900 font-medium mb-2">
        Email
      </label>
      <InputText
        id="email1"
        type="text"
        class="w-full mb-3"
        v-model="v$.form.email.$model"
        :class="{ 'p-invalid': v$.form.email.$invalid && submitted }"
      />
      <small
        v-if="
          (v$.form.email.$invalid && submitted) ||
          v$.form.email.$pending.$response
        "
        class="p-error"
      >
        {{ v$.form.email.required.$message.replace("Value", "Email") }}
      </small>

      <label for="password1" class="block text-900 font-medium mb-2">
        Password
      </label>
      <InputText
        id="password1"
        type="password"
        class="w-full mb-3"
        v-model="v$.form.password.$model"
        :class="{ 'p-invalid': v$.form.password.$invalid && submitted }"
      />
      <small
        v-if="
          (v$.form.password.$invalid && submitted) ||
          v$.form.password.$pending.$response
        "
        class="p-error"
      >
        {{ v$.form.password.required.$message.replace("Value", "Password") }}
      </small>
      <Button
        label="Sign In"
        icon="pi pi-user"
        class="p-button-success"
        :loading="isLoading"
        @click="handleSubmit(!v$.$invalid)"
      ></Button>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { email, required } from "@vuelidate/validators";
import { useVuelidate } from "@vuelidate/core";
import _ from "lodash";

export default {
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
      submitted: false,
      isLoading: false,
    };
  },
  validations: {
    form: {
      email: {
        required,
        email,
      },
      password: {
        required,
      },
    },
  },
  methods: {
    ...mapActions("Auth", ["login"]),

    handleSubmit(isFormValid) {
      this.submitted = true;

      if (!isFormValid) {
        return;
      }

      this.isLoading = true;
      this.login(this.form).then((response) => {
        this.isLoading = false;
        // console.log(response);
        if (response.status == 0) {
          this.$toast.add({
            severity: "error",
            summary: "Something wrong",
            detail: _.head(response.data),
            life: 3000,
          });
        } else {
          this.$router.push({ name: "Dashboard" });
        }
      });
    },
  },
  setup: () => ({ v$: useVuelidate() }),
};
</script>
